<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Áreas de empleados" />
    <meta property="og:url" content="https://areas-empleados.vercel.app/" />
    <meta property="og:image" content="/image/logo.webp" />
    <meta
      property="og:description"
      content="Mostrando diferentes áreas de empleados"
    />
    <meta
      name="description"
      content="Mostrando diferentes áreas de empleados"
    />

    <title>Empleados y departamentos</title>
    {{! Estilos }}
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/image/logo.webp" type="image/x-icon" />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/css/error.css" />
  </head>

  <body>

    {{{body}}}
    {{! Bootstrap }}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>

</html>